/*@mixin section-padding {
    padding: 10vh 0;

    @media (min-width: 768px) { // I'd prefer this to be the $md Bootstrap grid variable
        padding: 20vh 0;
    }
}
.body {
    background: linear-gradient(to right, $secondary, $accent);
}*/
.body {
  /*background: linear-gradient(to right, #EECDA3, #EF629F);*/
  height: 90%;
  width: 100%;
  background-image: url("Web_Concept_BG.png");
  background: #bccbce;
  position: absolute;
  font-family: 'tenby-five'; 

}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  

}

.active {
  padding-left: 10%;
  transition: 0.5s; 

}

.open {
  font-size: 0; 

}

.open span {
  font-size: 0;
  display: none; 

}

.HomeClosed {
  position: absolute;
  color: white;
  font-size: 150%;
  left: 20%;
  top: 230px; 

}

.BlogClosed {
  position: absolute;
  color: white;
  font-size: 150%;
  left: 20%;
  top: 320px; 

}

.CVClosed {
  position: absolute;
  color: white;
  font-size: 150%;
  left: 20%;
  top: 410px; 

}

.ArtClosed {
  position: absolute;
  color: white;
  font-size: 150%;
  left: 20%;
  top: 500px; 

}

.ContactClosed {
  position: absolute;
  color: white;
  font-size: 150%;
  left: 20%;
  top: 590px; 

}

.navbar-btn {
  position: relative;
  left: 30%;
  top: 1%;
  font-size: 250%;
  color: white; 

}

.navbar-btn-hide {
  display: none;
  font-size: 0; 
  color: #2e5464; 

}

.NameText {
  position: relative;
  padding-top: 10%;
  left: -1%;
  color: white;
  font-size: 400%;

}

.NameText {
  padding-left: 30%;
  color: white;
  font-size: 400%;

}

.textBlockTwo {
  position: relative;
  left: 30%;
  top: 36%;
  color: white;
  font-size: 200%; 

}

#LapTop {
  position: relative;
  top: -300px;
  padding-left: 70%; 

}

#server {
  position: relative;
  top: -100px;
  left: 71%; 

}

.Blog {
  background: #bccbce;
  width: 100%;
  height: 100%;
  top: 90%;
  position: absolute;
  font-family: 'tenby-five';

}

.ArtExpanded {
    background-color: white;
    width: 50%;
    height: 50%;
    position: absolute;
}

.ArtHidden{
    display: none;
}
.Art {
    background: #bccbce;
    width: 100%;
    height: 200%;
    top: 290%;
    position: absolute;
    font-family: 'tenby-five';
}

.ContactMeSec {
    background: #bccbce;
    width: 100%;
    height: 200%;
    top: 450%;
    position: absolute;
    font-family: 'tenby-five';
}



.artImage1 {
    position: relative; 
    left:2%; 
    top:1%;
}

.ArtContent1 :hover {
    opacity: 0.7;
}

#ArtContainer1 {
    border-radius: 5px;
    cursor: pointer;

}

.BlogP {
    color: #2e5464;
    top: auto;
    font-size: 1vw;
}


@media only screen and (min-width: 768px) {
    .keySkills {
        font-weight: bold;
        position: absolute;
        display: flex;
        top: 27%;
        left: -5%;
        color: #2e5464;
        font-size: 0.8vw;
        white-space: pre-wrap;
    }
}


    /*.BlogContent p {
        color: #2e5464;
        position: absolute;
        display: inline;
        top: 8%;
        left: 10%;
    }*/


    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: white;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }



    .artImage2 {
        position: relative;
        left: 2%;
        top: 1%;
    }


    .artImage3 {
        position: relative;
        left: 2%;
        top: 1%;
    }


    .artImage4 {
        position: relative;
        left: 2.5%;
        top: 3%;
    }


.contactMeContent {
    position: absolute;
    height: 40%;
    width: 70%;
    left: 20%;
    background-color: white;
}



    .BlogContent {
        position: absolute;
        width: 70%;
        height: 80%;
        left: 20%;
        background-color: white;
    }

    .ArtContent1 {
        position: absolute;
        left: 20%;
        
    }

    .ArtContent2 {
        position: relative;
        width: 51%;
        height: 30%;
        left: 18%;
        top: 34%;
     
    }
    .ArtContent2 :hover {
        opacity: 0.7;
    }



    .Blog p {
    
    display: inline;
    position: relative;
    top: 20%;
    right: 5%;
    font-family: 'open sans';
    white-space: pre-wrap;
    }

    .BlogText {
        position: relative;
        /*display: inline;*/
        font-size: 30px;
        color: #2e5464;
        left: 3%;
        top: 20px;
        width: 100%;
        font-family: 'Century Gothic';
    }

    .BlogTittle {
        position: relative;
        background-color: white;
        width: 20%;
        /*top: 0%;*/
        left: 20%;
        font-size: 400%;
    }

    .CVTittle {
        position: relative;
        background-color: white;
        width: 20%;
        /*top: 0%;*/
        left: 20%;
        font-size: 400%;
    }


    textarea {
        position: relative;
        left: 30%;
    }

    .rollover {
        position: absolute;
        left: 55%;
        top: 10%;
        height: 50%;
        width: 40%;
    }

    .CV {
        position: absolute;
        background: #bccbce;
        width: 100%;
        height: 100%;
        top: 190%;
        font-family: 'tenby-five';
    }

    .sidebar {
        grid-template-columns: 100% 100% 100%;
        grid-template-rows: 50% 50%;
        display: grid;
        height: 100%;
        width: 4.5%;
        position: fixed;
        z-index: 1;
        top: 0;
        color: #353535;
        left: 0;
        background-color: #2e5464;
        overflow-x: hidden;
        transition: 0.5s;
        /*padding-top: 60px;*/
        font-family: 'tenby-five';
    }

    .block a {
        display: none;
        transition: 0.3s;
    }

    /*ul#navigation .BlogPage a {
    width: 100px;
    height: 70px;
    background-image: url("Icons_Blog.png");
}*/
    .sidebar-Open {
        height: 100%;
        width: 15%;
        position: fixed;
        z-index: 1;
        background-color: #2e5464;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 50px;
        font-family: 'tenby-five';
    }

        .sidebar-Open a {
            padding: 30px 8px 8px 8px;
            text-decoration: none;
            font-size: 23px;
            color: white;
            display: block;
            transition: 0.3s;
        }

    .closebtn {
        position: absolute;
        top: 0;
        display: block;
        cursor: pointer;
        font-family: sans-serif;
        color: white;
        right: 25px;
        font-size: 70%;
        margin-left: 50px;
    }

    .closebtn-closed {
        display: none;
        font-size: 0;
    }

    .sidebar-Open ul {
        padding-top: 60%;
    }

    .sidebar-Open a:hover {
        color: #bccbce;
    }

    @font-face {
        font-family: 'tenby-five';
        src: url("tenby-five-webfont.woff2") format("woff2"), url("tenby-five-webfont.woff") format("woff");
             

        font-weight: normal;
        font-style: normal;
    }

    .view {
        background-color: #ddd;
        color: black;
    }

    .view img{
        background-color: #ddd;
        color: black;
    }

    .cloud {
        font-size: 400%;
        position: absolute;
        display: inline;
        top: 2%;
        left: 86%;
        color: white;
        cursor: pointer;
    }

    .linkedInBttn {
        font-size: 400%;
        position: absolute;
        display: inline;
        top: 2%;
        left: 81%;
        color: white;
        cursor: pointer;
    }


    .GithubBttn {
        font-size: 400%;
        position: absolute;
        display: inline;
        top: 2%;
        left: 76%;
        color: white;
        cursor: pointer;
    }

    .CVText {
    color: #2e5464;
    font-weight: bold;
    position: relative;
    display: inline;
    font-size: 1vw;

    top: 22%;
    left: 20%;
    font-size: 0.8vw;
    white-space: pre-wrap;
    font-family: 'arial';
}

.MMUF {
    font-weight: bold;  
    position: relative; 
    display: inline; 
    font-size: 20px; 
    top: -5%; 
    left: -5%;
    font-size: 1vw;
    color: #2e5464;
    white-space: pre-wrap;
}

.MMUFG {
    color: #2e5464;
    position: relative;
    display: inline;
    font-size: 1vw;
    top: 4.6%;
    left: -3%;
    font-family: 'arial';
}

.MMUS {
    font-weight: bold;
    position: relative;
    display: inline;
    top: 3%;
    left: -5%;
    font-size: 1vw;
    color: #2e5464;
    white-space: pre-wrap;
}

.MMUSG {
    color: #2e5464;
    position: relative;
    display: inline;
    left: -3%;
    font-size: 1vw;
    font-family: 'arial';
}

.MMUFY {
    font-weight: bold;
    position: relative;
    display: inline;
    top: -5%;
    left: -5%;
    color: #2e5464;
    font-size: 1vw;
    white-space: pre-wrap;
}

.MMYFYG {
    color: #2e5464;
    position: relative;
    display: inline;
    left: -3%;
    font-size: 1vw;
    font-family: 'arial';
    
}

.WCS {
    font-weight: bold; 
    position:relative; 
    display: inline; 
    
    top: 20%; 
    left: -5%; 
    white-space: pre-wrap; 
    font-size:1vw; 
    color: #2e5464;
}


.ArtContentLeft1 {
    left: 18.8%
}

.ArtContentLeft2 {
    left: 45.8%;
}

.ArtContentLeft3 {
    left: 70.8%;
}

.artImageRoate {
    /*transform: rotate(11deg);*/
}

.artImageRoate2 {
    /*transform: rotate(11deg);*/
}

.younameClass {
    position: absolute; 
    left: 19.7%; 
    width: 50%; 
    height: 3%;
}

.youemailClass {
    position: absolute; 
    left: 50%; 
    width: 35%; 
    height: 3%
}

.messageClass {
    left: 19.7%;
    top: 9%;
    width: 65%;
}



@media screen and (max-width: 600px) {

    .younameClass {
        position: absolute;
        left: 2%;
        width: 40%;
        height: 3%;
    }
    .youemailClass {
        position: absolute;
        left: 45%;
        width: 50%;
        height: 3%
    }
    .messageClass {
        left: 2.7%;
        top: 9%;
        width: 93%;
    }

    .Art {
        background: #bccbce;
        width: 100%;
        height: 80%;
        top: 290%;
        position: absolute;
        font-family: 'tenby-five';
    }

    .ContactMeSec {
        background: #bccbce;
        width: 100%;
        height: 250%;
        top: 370%;
        position: absolute;
        font-family: 'tenby-five';
    }



    .ArtContent1 {
        position: relative;
        width: 35%;
        height: 10%;
        left: 20%;
        background-color: #bccbce;
        transform: rotate(11deg);
    }
    .artImageRoate {
        transform: rotate(-11deg);
    }
    .artImageRoate2 {
        transform: rotate(0deg);
    }

    .ArtContentLeft1 {
        top: 30%;
        left: 10%
    }

    .ArtContentLeft2 {
        left: 36.8%;
    }

    .ArtContentLeft3 {
        left: 65.8%;
    }
    .ArtContent2 {
        position: absolute;
        width: 85%;
        height: 25%;
        left: 13.7%;
        top: 50%;
        background: #bccbce;
        transform: rotate(-11deg);
    }
        
    .CVText {
        color: #2e5464;
        font-weight: normal;
        position: relative;
        top: 20%;
        left: -5%;
        font-size: 2.5vw;
        white-space: pre-wrap;
        font-family: 'arial';
    }

    .MMUF {
        display: none;
    }

    .MMUFG {
        display: none;
    }

    .MMUS {
        display:none;
    }

    .MMUSG {
        display: none;
    }

    .MMUFY {
        display: none;
    }

    .MMUFG {
        display: none;
    }
    .WCS {
        display:none;
    }
    
    .linkedInBttn {
        left: 70%;
    }
    .GithubBttn {

        left: 85%;
    }
    
    .cloud {
        font-size: 0;
    }


    .CVTittle {
        position: relative;
        background-color: white;
        width: 20%;
        /*top: 0%;*/
        left: 2%;
        font-size: 400%;
    }


    
    .navbar-btn {
        position: fixed;
        left: 2%;
        top: -4px;
        font-size: 250%;
        color: white;
    }

    .sidebar-Open {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        background-color: #2e5464;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 50px;
        font-family: 'tenby-five';
    }

    .NameText {
        position: relative;
        text-align: center;
        padding-top: 50%;
        left: -14%;
        color: white;
        font-size: 350%;
    }

    #LapTop {
       padding-top: 84%;
       right: 42%;
    }
    
    .sidebar {
        /*overflow: hidden;*/
        position: fixed;
        width: 1%;
        height: 6%;
        width: 100%;
    }

    .HomeClosed {
        position: absolute;
        left: 7px;
    }

    .BlogClosed {
        position: absolute;
        left: 7px;
    }

    .CVClosed {
        position: absolute;
        left: 7px;
    }

    .ArtClosed {
        position: absolute;
        left: 7px;
    }

    .ContactClosed {
        position: absolute;
        left: 7px;
    }

    #server {
        display: none;
    }

    .BlogContent {
        left: 2%;
        width: 96.5%;
    }
    
    .BlogTittle {
        position: relative;
        background-color: white;
        width: 49%;
        /*top: 0%;*/
        left: 2%;
        font-size: 400%;
    }

    .BlogText {
        top: 19%;
        left: 10%;
    }

    .Blog p {
        
        font-size: 3.01vw;
        top: 15%;
        
        left: -14%;
        font-family: 'open sans';
        
    }

    .rollover {
        display: none;
    }
}

